pandas
numpy
scikit-learn
matplotlib
seaborn
python-dotenv
ipytest
tensorflow==2.14
ruff
nbformat
nbdev
nbclient
ipykernel
Flask
comet-ml
seaborn
opendatasets
scipy
pydot
graphviz
pydot-ng
keras-tuner
torch